[init]
	defaultBranch = main
[user]
	email = deusintra@yahoo.com
	name = DeusIntra
[core]
	quotePath = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
