[Desktop Entry]
Version=1.0
Name=Neovim (Terminal)
GenericName=Text Editor
Comment=Edit text files in the terminal with Neovim
Exec=kitty -- /opt/nvim-linux64/bin/nvim %f
Icon=/home/deusintra/.icons/Fluent/scalable/apps/neovim.svg
Terminal=true
Type=Application
Categories=Utility;TextEditor;
MimeType=text/plain;
